#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
}

.container {
  background: #f0f8ff;
  box-shadow: 16px 16px 1.4rem rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  height: 500px;
  width: 355px;
  padding: 1.1rem;
}

.title {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 0.4em;
}

.addtasks {
  display: flex;
  gap: 9px;
  flex-direction: row;
  height: 44px;
  justify-content: center;
  margin-bottom: 16px;
}

.input {
  border: none;
  padding: 1.29rem 1rem;
  border-radius: 1rem;
  background: #fffff5;
  box-shadow: 4px 4px 0.4rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.addButton {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1.1rem 1.99rem 1.1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.addButton:hover {
  background-color: rgb(249, 250, 251);
}

.addButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.addButton:focus-visible {
  box-shadow: none;
}

.tasks {
  height: 349px;
  width: 100%;
  overflow: scroll;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75em;
}

.removeButton {
  background-color: #FFFFFF;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .55rem 0.75rem 0.55rem 0.75rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.removeButton:hover {
  background-color: rgb(249, 250, 251);
}

.removeButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.removeButton:focus-visible {
  box-shadow: none;
}